*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #191920;
    font-family: 'Inter', 'sans-serif';
    font-size: 1.6rem;

    @media screen and (max-width:1023px) {
        font-size: 1.4rem;            
    }
    @media screen and (max-width:767px) {
        font-size: 1.2rem;            
    }
}

button{
    cursor: pointer;
}

